[submodule "backend/extern/asio"]
	path = backend/extern/asio
	url = https://github.com/chriskohlhoff/asio.git
[submodule "backend/extern/crow"]
	path = backend/extern/crow
	url = https://github.com/CrowCpp/Crow.git
[submodule "backend/extern/json"]
	path = backend/extern/json
	url = https://github.com/nlohmann/json.git
[submodule "backend/extern/datasets"]
	path = backend/extern/datasets
	url = https://github.com/salimt/football-datasets
[submodule "backend/extern/csv_parser"]
	path = backend/extern/csv_parser
	url = https://github.com/vincentlaucsb/csv-parser
